# Python Package Index (PyPI)

Bad packages in Python Package Index (PyPI).

## Last packages with assigned campaigns

| Assignment date UTC | Package | Campaign | Category |
|:---|:---|:---|:---|
{%- for package in last_packages %}
|{{ package[0][:16].replace("T", " ") }}|[{{ package[1] }}](package/{{ package[1] }}.md)|[{{ package[2] }}](campaign/{{ package[2] }}.md)|{{ package[3] }}|
{%- endfor %}

## Newest campaigns

|Creation date | Name | Category |
|:---|:---|:---|
{%- for campaign in campaigns %}
|{{ campaign[0] }}|[{{ campaign[1] }}](campaign/{{ campaign[1] }}.md)|{{ campaign[2] }}|
{%- endfor %}

## Statistics
| Category | Campaigns | Packages |
|:---|:---|:---|
{%- for name, data in categories %}
|[{{ name }}](campaign_category/{{ name }}.md)|{{ data["campaigns"] }}|{{ data["packages"] }}|
{%- endfor %}