---
title: {{ package["name"] }}
tags:
    - campaign:{{ campaign["name"] | trim }}
---
**{{ campaign["category"] | upper }}** (1) package from Python Package Index.
{.annotate }

1. {% if campaign["category"] in categories %}{{ categories[campaign["category"]] }}{% else %}{{ campaign["category"] }}{% endif %}

# {{ package["name"] }}

{% if "affected_versions" not in package or not package["affected_versions"] %}
<div class="annotate" markdown>
_Affected versions:_ unspecified (1)
</div>

1. Version numbers are currently not tracked for this package. Assume all versions are affected.
{% else %}
<div class="annotate" markdown>
_Affected versions:_ (1) {{ package["affected_versions"] | join(", ") }}
</div>

1. Version numbers are usually added automatically. In most cases, the packages listed here were created only to distribute malicious code.
{% endif %}

{% if "description" in package.keys() %}{{ package["description"] }}{% endif %}

## Campaign data
_Campaign information may not always be 100% accurate for every related package._
!!! info "Campaign description"
    {{ campaign.get("description", "") | indent(4) }}

    _See more details on the [campaign page](../campaign/{{ campaign["name"] | trim }}.md)._

{% for abuse in campaign["abuse_categories"] %}{% if abuse %}{% set info = abuse_categories.get(abuse, {}) %}
??? {{ info.get("theme", "danger") }} "{{ abuse }}"
    {% if "description" in info.keys() %}{{ info["description"] | indent(4) }}{% else %}Campaign targets {{ abuse }}.{% endif %}
{% endif %}{% endfor %}

## Look up in other services

<div class="annotate" markdown>
* Check metadata in [:material-open-in-new: pypi-data project](https://github.com/pypi-data/pypi-json-data/blob/main/release_data/{{ package["name"][0] }}/{{ package["name"][1] }}/{{ package["name"] }}.json) (1)
* Search for the package in [ :material-open-in-new: deps.dev](https://deps.dev/pypi/{{ package["name"] }})(2)
* Search for the package in [ :material-open-in-new: socket.dev](https://socket.dev/pypi/package/{{ package["name"] }}) (3)
* Search for the package in [ :material-open-in-new: secure.software](https://secure.software/pypi/packages/{{ package["name"] }}) (4)
* Search for the package in [ :material-open-in-new: Snyk Advisor](https://snyk.io/advisor/python/{{ package["name"] }}) (5)
</div>

1. May not be available. See more in [pypi-json-data](https://github.com/pypi-data/pypi-json-data) repository.
2. Open Source Insights project, provided by Google.
3. Service from Socket.dev, a cybersecurity company.
4. Spectra Assure Community, a service from ReversingLabs, a cybersecurity company.
5. Service from Snyk, a cybersecurity company.